{% extends '@App/base/base.html.twig' %}



{% block content %}
<div>
    <a href="{{ path('pays_auteur',{'pays': 'Italie'}) }}"><button>Italie</button></a>
    <a href="{{ path('pays_auteur',{'pays': 'Russie'}) }}"><button>Russie</button></a>
    <a href="{{ path('pays_auteur',{'pays': 'France'}) }}"><button>France</button></a>
</div>
    <br>

    <form action="{{ path('auteur_mot_cle') }}" method="get">
        <label for="research">Recherche par mot cle</label>
        <input name="research" type="text">
        <input type="submit">
    </form>




{#On realise une boucle auteurs pour faire apparaitre le nom de l'auteur grace a "auteur.nom" #}
{% for auteur in auteurs  %}
{#path est l'action qui va nous renvoyer vers le nom de la route#}
    {#{'id': auteur.id}  c est id définit dans la route @route("auteur.{id}, auteur.id c est le numero de l'id dans la base de donnée#}

    <hr>





    <a href="{{ path('info_auteur', {'id': auteur.id}) }}"><h2>{{ auteur.nom }}</h2></a>



{% endfor %}

{% endblock %}