
{% extends '@App/base/base.html.twig' %}

{% block content %}
<div id="defauteur">
        <h2>{{ auteur.nom }}</h2>
        <p>Pays: {{ auteur.pays }}</p>

        {% for livre in auteur.livre  %}
            <p> livre: {{ livre.titre }}</p>
            <p> livre: {{ livre.genre }}</p>
        {% endfor %}

            <p>Sa date de naissance est le {{ auteur.dateNaissance | date("d/m/y") }}, et il
                est mort le {{ auteur.dateMort | date("d/m/y")  }}</p>
            <p>Avec pour Biographie {{ auteur.biographie }}</p>

</div>

{% endblock %}