{% extends '@App/base/base.html.twig' %}


{% block content %}
    <h3>Formulaire Livre</h3>
    <div class="offset-5 mt-5 formulaire">

        {#affiche formulaire en un bloc#}
        {#{{ form(formlivre) }}#}

        {#{{ form_start(formlivre) }}#}
        {#{{ form_widget(formlivre) }}#}
        {#{{ form_end(formlivre) }}#}



        {# exemple pour faire du css directement#}
        {#{{ form_label(formCourses.prix) }}#}
        {#{{ form_widget(formCourses.prix, {"attr" : {"class": "form-control"}}) }}#}


        {{ form_start(formlivre) }}
        <div class="bob">
            {{ form_label(formlivre.genre) }}
        </div>
        {{ form_widget(formlivre.genre) }}
        <div class="bob">
            {{ form_label(formlivre.nbPages) }}
        </div>
        {{ form_widget(formlivre.nbPages) }}
        <div class="bob">
            {{ form_label(formlivre.format) }}
        </div>

<div id="choix">
        {{ form_widget(formlivre.format) }}
</div>

        <div class="bob">
            {{ form_label(formlivre.titre) }}
        </div>
        {{ form_widget(formlivre.titre) }}
        <div class="bob">
            {{ form_label(formlivre.auteur) }}
        </div>
        {{ form_widget(formlivre.auteur) }}
        <div id="valide">
        {{ form_widget(formlivre.save) }}
        </div>





        {{ form_end(formlivre) }}
        <br>
        <a href="{{ path('auteur') }}"><button>retour au choix des auteurs</button></a>

    </div>
{% endblock %}