{% extends '@App/base/base.html.twig' %}



{% block content %}

    {% for livre in livres %}

        <h2>{{ livre.titre }}</h2>

        <p>le livre est du genre <em>{{ livre.genre }}</em></p>
            {% if livre.auteur %}
                <p>L'auteur est <strong>{{ livre.auteur.nom }}</strong></p>
            {% else %}
                <p>pas d'auteur défini</p>
            {% endif %}



        <a href="{{ path('auteur') }}"><button>retour au choix des auteurs</button></a>
        <a href="{{ path('suppr_livre', {'id': livre.id}) }}"><button>supprimer</button></a>
        <a href="{{ path('mise_a_jour_livre', {'id': livre.id}) }}"><button>mise a jour</button></a>
        <hr>
    {% endfor %}


{% endblock %}